body {
  background: #ffffff;
  color: #000000;
  font-family: 'OCR B', monospace;
  text-align: left;
  margin: 0;
  padding: 2em;
    font-size: 14px; /* Base size */
}
* {
  text-transform: none !important;
}

h1 {
  text-align: center;
}

pre {
  font-family: 'OCR B', monospace;
}

img {
  max-width: 50%;
  height: auto;
  margin: 1.5rem auto;
  display: block;
}

.iframe-container {
  text-align: center;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.image-grid img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}


.image-grid img {
  width: 100%;
  height: auto;
  display: block;
}


.container {
  max-width: 700px;
  margin: 0 auto;
}

a {
  color: #0000ee;
  text-decoration: underline;
}
